@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html >
<head runat="server">
    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.signalR.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.miniColors.min.js" type="text/javascript"></script>
    <script src="../../Scripts/underscore.min.js" type="text/javascript"></script>
    <script src="../../Scripts/drawHelper.js" type="text/javascript"></script>
    <script src="../../Scripts/app.js" type="text/javascript"></script>
    <script src="../../Scripts/food.js" type="text/javascript"></script>
    <script src="../../Scripts/bomb.js" type="text/javascript"></script>
    <script src="../../Scripts/ball.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="../../Content/jquery.miniColors.css" />
    
    <link type="text/css" rel="stylesheet" href="../../Content/game.css" />
    
    <title>Play. With many balls.</title>

    <script type="text/javascript">
        $(function () {
            

        });
    </script>

</head>
    <body>
        <header>
            <h1>Many balls</h1>
        
            <div id="color-chooser">
                <input type="text" id="color" value="#000000" />
                <input type="button" id="join" value="Go "/>
            </div>
        </header>

        <div id="game-area">
            
            <canvas id="myDrawing" width="800" height="500" ></canvas>
            <canvas id="myBombs" width="800" height="500" ></canvas>
            <canvas id="food" width="800" height="500" ></canvas>
            <div id="bomb-area">
                
            </div>
        </div>
        
        <div id="users">
            <ul>
            </ul>
        </div>
        
        <div id="log">
            <ul>
            </ul>
        </div>
    </body>
</html>