@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html >
<head runat="server">
    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.signalR.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    
    <style type="text/css">
        #game-area {
            width: 800px;
            display: none;    
        }
        
        #myDrawing {
            border: solid 3px #e2e2e2;
            float: left;
            margin-right: 30px;
        }
        
        #users {
            
            position: absolute;
            top: 35px;
            left: 550px;
            z-index: 15;
            
            height: 500px;
            width: 200px;
            overflow: scroll;
        }
        
        #myDrawing {
            position: absolute;
            top: 35px;
            left: 5px;
            z-index: 10;
        }
        
        #myBombs {
            position: absolute;
            top: 35px;
            left: 5px;
            z-index: 15;
        }
        
        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            var img = new Image();
            img.src = 'MrBomb.png';

            var game = $.connection.game;

            $.connection.hub.start(function () {

            });

            game.draw = function (data) {

                var drawingCanvas = document.getElementById('myDrawing');

                var context = drawingCanvas.getContext('2d');

                context.clearRect(0, 0, 500, 500);

                for (var i = 0; i < data.length; i++) {
                    var ball = data[i].Value;

                    context.fillStyle = "#" + ball.Color;

                    context.beginPath();
                    context.arc(ball.LocX, ball.LocY, 40, 0, Math.PI * 2, true);
                    context.closePath();

                    context.fill();
                }

            };

            game.newBomb = function (x, y) {
                var bombCanvas = document.getElementById('myBombs');
                var contextBomb = bombCanvas.getContext('2d');

                contextBomb.drawImage(img, x, y);
            };

            game.newBombExplode = function (x, y) {
                var bombCanvas = document.getElementById('myBombs');
                var contextBomb = bombCanvas.getContext('2d');

                contextBomb.fillStyle = "rgb(200,0,0)";
                contextBomb.fillRect(x, y, 45, 45); 
            };

            game.showUsers = function (data) {
                $("#users ul").empty();

                for (var i = 0; i < data.length; i++) {
                    var ball = data[i].Value;

                    $("#users ul").append('<li><span style="padding-right: 15px; margin-right: 5px; width: 15px; background-color: #' + ball.Color + '"></span> ' + ball.Name + '</li>');
                }
            };

            $("#join").click(function () {
                game.join($("#name").val(), $("#color").val());
                $("#game-area").show();
            });

            $("html").keydown(function (event) {

                if (event.which == "32") {
                    game.someOneSetUsUpTheBomb();
                }

                if (event.which == "37") {
                    game.moveBall('l');
                }

                if (event.which == "38") {
                    game.moveBall('u');
                }

                if (event.which == "39") {
                    game.moveBall('r');
                }

                if (event.which == "40") {
                    game.moveBall('d');
                }
            });

        });
    </script>

</head>
    <body>
        Namn:
        <input type="text" id="name" />
        &nbsp;&nbsp;&nbsp;
        Färg
        # <input type="text" id="color" />
        <input type="button" id="join" value="Bolla! "/>

        <div id="game-area">
            <canvas id="myDrawing" width="500" height="500" ></canvas>
            <canvas id="myBombs" width="500" height="500" ></canvas>

        </div>
        
        <div id="users">
            <ul>
                
            </ul>
        </div>
    </body>
</html>