@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html >
<head runat="server">
    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.signalR.min.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(function () {
            // SignalR hub initialization
            var x = 5;
            var game = $.connection.game;
            //            game.moveBall = function (x) {

            //            };

            $.connection.hub.start(function () {
                game.join();
            });



            game.draw = function (data) {
                console.log("kommer");

                // Check the element is in the DOM and the browser supports canvas
                var drawingCanvas = document.getElementById('myDrawing');
                // Initaliase a 2-dimensional drawing context
                var context = drawingCanvas.getContext('2d');

                context.clearRect(0, 0, 500, 500);

                console.log(data[0].Value.LocX);

                for (var i = 0; i < data.length; i++) {
                    var ball = data[i].Value;

                    context.fillStyle = "#00ff00";

                    context.beginPath();
                    context.arc(ball.LocX, ball.LocY, 40, 0, Math.PI * 2, true);
                    context.closePath();

                    context.fill();

                    //			        if(ball.X > 1000 || ball.X < 0){
                    //				        ball.DX = ball.DX*-1;
                    //			        }

                    //			        if(ball.Y < 0 || ball.Y > 800) {
                    //				        ball.DY = ball.DY*-1
                    //			        }
                }

            };

            $("html").keydown(function (event) {
                //                alert('Handler for .keyup() called. ' + event.which);

                if (event.which == "37") {
                    game.moveBall('l');
                }

                if (event.which == "38") {
                    game.moveBall('u');
                }

                if (event.which == "39") {
                    game.moveBall('r');
                }

                if (event.which == "40") {
                    game.moveBall('d');
                }

            });

        });
    </script>

</head>
    <body>
        <input type="button" id="ojoj" />
        <canvas id="myDrawing" width="500" height="500" ></canvas>
    </body>
</html>