@model dynamic

@{
    Layout = null;
 }

<!DOCTYPE html>

<html>
    <head>
        <title>ManyBalls!</title>
    </head>
    <body>
        <div>
            @using(Html.BeginForm())
            {
                @Html.TextBox("name");
                @Html.ValidationMessage("name");
                <input type="submit" value="Bolla!" />
            }
        </div>
    </body>
</html>