@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            @using (Html.BeginForm()) {
                <input type="text" name="name" />
                <input type="submit" value="Go!"/>
            }
        </div>
    </body>
</html>