body {
    
    background-color: #f3f3f3;
}

header {
    float: left;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;;
    text-shadow: #6D989E 1px 1px 0px;
    font-size: 4em;
    color: #A4E2EA;
    margin: 0;
    padding: 0;
    float: left;
}

#color-chooser {
    float: left; 
    margin-left: 35px; 
    margin-top: 47px;
}

#game-area {
    position: absolute;
    top: 95px;
    left: 15px;
    width: 800px;
    height: 500px;
    display: none;    
    background-image: url(images/tex2res5.png);
    background-repeat: repeat;    
}
        
#myDrawing {
    border: solid 3px #e2e2e2;
    float: left;
    margin-right: 30px;
}
        
#users {
    position: absolute;
    top: 95px;
    left: 850px;
    z-index: 15;
            
    height: 500px;
    width: 200px;
    overflow: scroll;
}
        
#log {
    position: absolute;
    top: 610px;
    left: 400px;
    width: 350px;
    height: 200px;
    overflow: hidden;
}
        
#myDrawing {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    border: solid 1px #999999;
}
        
#myBombs {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 15;
}
  
#food {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 8;
}  
        
#bomb-area canvas {
    position: absolute;
}
        
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}